<div class="container">
  <p> Select the number of rounds you'd like the game to have!</p>
  <p> The games will be split evenly across the number of rounds. </p>
  <%# Sets input with current number of beers, for retrieval an use in the dynamic display %>
  <input id="beer-count" type="hidden" value="<%= @game.beers.count %>">
  <%# Sets round options here to prevent a looping load %>
  <% round_options = @game.find_round_range %>
  <%= simple_form_for @game, html: { multipart: true, novalidate: false } do |f| %>
    <%= f.input :round_count, collection: round_options, as: :select %>
    <p id="round-message"></p>
    <%= f.submit "Set Rounds" %>
  <% end %>
</div>
