<h1> Game completed!</h1>
<h4> Final scores calculated...</h4>

<% @game.players.order(score: :desc).each do |player| %>
  <div>
    <p> <%= player.name %> -- <%= player.score %> </p>
  </div>
<% end %>


<%= button_to "Restart?", cancel_game_path(@game), method: :patch,
    data: { turbo_confirm: "Are you sure you want to restart this game? Scores will be reset." },
    class: "btn btn-danger" %>
