<div class="container">
<h1> My Games </h1>
<% @games.each do |game| %>
  <div class="card">
    <%= link_to game.title, game_path(game) %>
    <%= button_to "Delete", game_path(game), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
<% end %>
<%= link_to "Add game", new_game_path, class: "btn btn-primary" %>
</div>
