<div class="container">
  <h1> <%= @game.title %> </h1>
  <button> Add a player </button>
  <button> Add a beer </button>
  <button> Choose difficulty </button>
  <button> Start game </button>
</div>
